<div>
    <h2 id="page-heading">
        <span>User Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-files" [routerLink]="['/user-files/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User Files
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userFiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Description</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userFiles of userFiles ;trackBy: trackId">
                <td><a [routerLink]="['/user-files', userFiles.id, 'view' ]">{{userFiles.id}}</a></td>
                <td>{{userFiles.title}}</td>
                <td>{{userFiles.description}}</td>
                <td>
                    {{userFiles.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-files', userFiles.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-files', userFiles.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-files', { outlets: { popup: userFiles.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
